<div class="main-content">
  <div class="container-fluid">

    <div class="row" *ngIf="pageView == 'list'">

      <form class="navbar-form navbar-right" role="search" id="search-container">
        <div class="form-group form-search is-empty">
          <input [formControl]="search" name="search" class="form-control" placeholder="Buscar" type="text">
          <span class="material-input"></span>
        </div>
        <button class="btn btn-white btn-round btn-just-icon" type="submit">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
      </form>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="primary">
            <i class="material-icons">group</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Clientes</h4>
            <div class="content table-responsive">
              <table id="datatables" class="table">
                <thead class="text-primary">
                  <tr>
                    <th width="60"></th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th class="text-right">Ações</th>
                  </tr>
                </thead>
                <tbody *ngIf="!clientArray">
                  <tr>
                    <td colspan="4">Carregando...</td>
                  </tr>
                </tbody>
                <tbody *ngIf="clientArray">
                  <tr *ngIf="clientArray.length == 0">
                    <td colspan="4">Nenhum registro encontrado.</td>
                  </tr>
                  <tr *ngFor="let client of clientArray">
                    <td>
                      <i style="font-size: 40px;" class="material-icons" *ngIf="client.photo === ''" >face</i>
                      <img class="img-circle" src="{{ client.photo }}" width="40" *ngIf="client.photo !== ''" />
                    </td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                    <td class="td-actions text-right">
                      <button title="Atualizar foto" class="btn" (click)="showFilePicker(client)">
                        <i class="material-icons">face</i>
                      </button>
                      <button title="Informações do cliente" class="btn btn-info" (click)="info(client)">
                        <i class="material-icons">search</i>
                      </button>
                      <button title="Atualizar cliente" class="btn btn-primary" (click)="update(client)">
                        <i class="material-icons">edit</i>
                      </button>
                      <button title="Remover cliente" class="btn btn-danger" (click)="remove(client)">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" (click)="showModal()">
          Adicionar cliente
        </button>
      </div>
    </div>

    <div class="row" *ngIf="pageView == 'form'">
      <div class="col-md-12">
        <form class="card" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
          <div class="card-header card-header-icon" data-background-color="primary">
            <i class="material-icons">group</i>
          </div>
          <div class="card-content">
            <h4 class="card-title" *ngIf="!clientSelected">Adicionar cliente</h4>
            <h4 class="card-title" *ngIf="clientSelected">Atualizar cliente</h4>
            <div class="content">
              <div class="modal-body">
                <div class="form-group" [class.label-floating]="!clientSelected">
                  <label class="control-label">Nome</label>
                  <input type="text" name="name" required formControlName="name" class="form-control">
                </div>
                <div class="form-group" [class.label-floating]="!clientSelected">
                  <label class="control-label">Sobrenome</label>
                  <input type="text" name="lastname" required formControlName="lastname" class="form-control">
                </div>
                <div class="form-group" [class.label-floating]="!clientSelected">
                  <label class="control-label">Email</label>
                  <input type="email" name="email" required email formControlName="email" class="form-control">
                </div>
                <div class="form-group" [class.label-floating]="!clientSelected">
                  <label class="control-label">Telefone</label>
                  <input type="text" name="phone" required formControlName="phone" class="form-control">
                </div>

                <fieldset formGroupName="address">
                  <div class="row">
                    <div class="form-group col-sm-4" [class.label-floating]="!clientSelected">
                      <label class="control-label">CEP</label>
                      <input type="text" name="address_zip_code" required formControlName="zip_code" class="form-control">
                    </div>
                    <div class="form-group col-sm-4" [class.label-floating]="!clientSelected">
                      <label class="control-label">Estado</label>
                      <input type="text" name="address_state" required formControlName="state" class="form-control">
                    </div>
                    <div class="form-group col-sm-4" [class.label-floating]="!clientSelected">
                      <label class="control-label">Cidade</label>
                      <input type="text" name="address_city" required formControlName="city" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-8" [class.label-floating]="!clientSelected">
                      <label class="control-label">Rua</label>
                      <input type="text" name="address_street" required formControlName="street" class="form-control">
                    </div>
                    <div class="form-group col-sm-4" [class.label-floating]="!clientSelected">
                      <label class="control-label">Número</label>
                      <input type="text" name="address_number" required formControlName="number" class="form-control">
                    </div>
                  </div>
                </fieldset>

                <div class="form-group" [class.label-floating]="!clientSelected">
                  <mat-form-field>
                    <mat-select placeholder="Referência" name="reference" formControlName="reference">
                      <mat-option *ngFor="let client of clientArray" [value]="client.id">{{ client.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>

                <div class="form-group" [class.label-floating]="!clientSelected">
                  <label class="control-label">Companhia</label>
                  <input type="text" name="company" required formControlName="company" class="form-control">
                </div>
                <div class="form-group" [class.label-floating]="!clientSelected">
                  <label class="control-label">Função</label>
                  <input type="text" name="role" required formControlName="role" class="form-control">
                </div>
                <div class="form-group" [class.label-floating]="!clientSelected">
                  <label class="control-label">Observações</label>
                  <textarea rows="4" name="notes" required formControlName="notes" class="form-control"></textarea>
                </div>

              </div>

            </div>
            <div class="card-footer text-right">
              <button type="button" class="btn btn-default" (click)="closeModal()">Cancelar</button>
              <button type="submit" class="btn btn-primary" [disabled]="clientForm.invalid">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row" *ngIf="pageView == 'info'">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">trending_up</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Transações</h4>
              <div class="content table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <tr>
                      <th>Dia</th>
                      <th>Hora</th>
                      <th>Descrição</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="dealArray">
                    <tr *ngFor="let deal of dealArray">
                      <td>{{ deal.date | date:'shortDate':'':'br' }}</td>
                      <td>{{ deal.time }}</td>
                      <td>{{ deal.description }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" (click)="closeModal()">Voltar a lista</button>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar" style="background: #fff;">
              <a>
                <i style="font-size: 130px;" class="material-icons" *ngIf="clientSelected.photo === ''" >face</i>
                <img src="{{ clientSelected.photo }}" width="60" *ngIf="clientSelected.photo !== ''" />
              </a>
            </div>
            <div class="card-content">
              <h6 class="category text-gray">{{ clientSelected.role }} em {{ clientSelected.company }}</h6>
              <h4 class="card-title">{{ clientSelected.name }} {{ clientSelected.lastname }}</h4>
              <br />
              <p class="description"><b>Email: </b> {{ clientSelected.email }}</p>
              <p class="description"><b>Telefone: </b> {{ clientSelected.phone }}</p>
              <p class="description">
                <b>Endereço: </b> {{ clientSelected.address.street }}, {{ clientSelected.address.number }} <br />
                {{ clientSelected.address.city }} - {{ clientSelected.address.state }} - {{ clientSelected.address.zip_code }}
              </p>
              <br />
              <p class="description">
                {{ clientSelected.notes }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
